Flask==2.3.3
flask-cors==4.0.0
flask-sqlalchemy==3.1.1
flask-migrate==4.1.0
pymysql==1.2.0
psycopg2-binary==2.9.12
cryptography==44.0.0
bcrypt==4.2.1
pyjwt==2.9.0
yfinance==0.2.40
pandas==2.3.3
websockets==13.1
python-dotenv==1.0.1
gunicorn==23.0.0